* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    text-align: center;
    margin: 1rem 0;
}

#game-container {
    height: 100%;
}